In [23]:
import pandas as pd
df_microdados = pd.read_csv('microdados_ed_basica_2022.csv', delimiter=';', encoding='ISO-8859-1')
df_microdados = df_microdados[df_microdados['SG_UF'] == 'SP']
df_microdados = df_microdados[(df_microdados['NO_MUNICIPIO'] == 'São Paulo')]
df_microdados.head()

C:\Users\Alan Matheus\AppData\Local\Temp\ipykernel_15576\791896152.py:2: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  df_microdados = pd.read_csv('microdados_ed_basica_2022.csv', delimiter=';', encoding='ISO-8859-1')

,NU_ANO_CENSO,NO_REGIAO,CO_REGIAO,NO_UF,SG_UF,CO_UF,NO_MUNICIPIO,CO_MUNICIPIO,NO_MESORREGIAO,CO_MESORREGIAO,...,QT_TUR_FUND_AF,QT_TUR_MED,QT_TUR_PROF,QT_TUR_PROF_TEC,QT_TUR_EJA,QT_TUR_EJA_FUND,QT_TUR_EJA_MED,QT_TUR_ESP,QT_TUR_ESP_CC,QT_TUR_ESP_CE
171443,2022,Sudeste,3,São Paulo,SP,35,São Paulo,3550308,Metropolitana de São Paulo,15,...,16.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,4.0,0.0
171444,2022,Sudeste,3,São Paulo,SP,35,São Paulo,3550308,Metropolitana de São Paulo,15,...,17.0,31.0,1.0,1.0,16.0,0.0,16.0,35.0,35.0,0.0
171445,2022,Sudeste,3,São Paulo,SP,35,São Paulo,3550308,Metropolitana de São Paulo,15,...,26.0,30.0,0.0,0.0,0.0,0.0,0.0,42.0,42.0,0.0
171446,2022,Sudeste,3,São Paulo,SP,35,São Paulo,3550308,Metropolitana de São Paulo,15,...,0.0,42.0,0.0,0.0,0.0,0.0,0.0,16.0,16.0,0.0
171447,2022,Sudeste,3,São Paulo,SP,35,São Paulo,3550308,Metropolitana de São Paulo,15,...,0.0,33.0,0.0,0.0,0.0,0.0,0.0,19.0,19.0,0.0

In [24]:
df_rotatividade = pd.read_excel('rotatividade.xlsx', sheet_name='Planilha2')
df_rotatividade.head()
print(len(df_rotatividade))

17920

In [29]:
# Selecionando as colunas relevantes do df_rotatividade
df_rotatividade = df_rotatividade[['Nome Escola', 'Pontuação IRD']]

# Renomeando a coluna 'NO_ENTIDADE' para 'Nome Escola' no df_microdados
df_microdados.rename(columns={'NO_ENTIDADE': 'Nome Escola'}, inplace=True)

# Mesclando os DataFrames com base na coluna 'Nome Escola'
df_merged = pd.merge(df_microdados, df_rotatividade, on='Nome Escola', how='left')

# Criando um novo DataFrame com apenas as colunas de interesse
df_novo = df_merged[['Nome Escola', 'Pontuação IRD']].dropna().sort_values(by='Pontuação IRD', ascending=True)

# Exibindo as primeiras linhas do novo DataFrame
df_novo.head()

                      Nome Escola  Pontuação IRD
337                   MISS BROWNE       1.353201
163    MARIO CASASSANTA PROFESSOR       1.412539
4892    EMEF DONATO SUSUMU KIMURA       1.416393
5124  CEI DIRET JARDIM ROSA MARIA       1.461568
133     LOUREIRO JUNIOR PROFESSOR       1.505339